<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ура!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <img id="img" alt="alt" src="/static/vova.gif" class="position-absolute start-50 translate-middle-x" style="margin-top: 10%" height="600"/>
<div class="w-100 d-flex fixed-top">
    <div class="d-flex align-items-center w-100 vh-100">
        <h1 class="display-1 mx-auto">Поздравляем! За призом можете прийти в 208 (<a href="https://vk.com/raryey">я</a>), а спонсор - это <a href="https://vk.com/ttsarev1">скромный высокий парень, который просто хочет с вами подружиться</a> </h1>
    </div>

</div>
<script>
    var date = new Date()
    var millis = date.getMilliseconds()
    var img = document.getElementById("img")
    if(millis % 3 === 1) {
        img.src = "/static/win_2.gif"
    } else if(millis % 3 === 2) {
        img.src = "/static/win_3.gif"
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>